@font-face {
    font-family: metron;
    src: url(./metron.eot?o9xrwe);
    src: url(./metron.eot?o9xrwe#iefix) format('embedded-opentype'), url(./metron.ttf?o9xrwe) format('truetype'), url(./metron.woff?o9xrwe) format('woff'), url(./metron.svg?o9xrwe#metron) format('svg');
    font-weight: 400;
    font-style: normal
}

[class^=metron-],
[class*=" metron-"] {
    font-family: metron !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.metron-quantumultx:before {
    content: "\e900"
}

.metron-surge:before {
    content: "\e901"
}

.metron-quantumult:before {
    content: "\e902"
}

.metron-surfboard:before {
    content: "\e903"
}

.metron-shadowrocket:before {
    content: "\e904"
}

.metron-Finder:before {
    content: "\e905"
}

.metron-clash:before {
    content: "\e906"
}

.metron-crisp:before {
    content: "\e907"
}

.metron-mac:before {
    content: "\e908"
}

.metron-qrcode:before {
    content: "\e909"
}

.metron-wechatPay:before {
    content: "\e90a"
}

.metron-alipay:before {
    content: "\e90b"
}

.metron-linux:before {
    content: "\e90c"
}

.metron-atom:before {
    content: "\e90d"
}

.metron-v2rayng:before {
    content: "\e90e"
}

.metron-kitsunebi:before {
    content: "\e90f"
}

.metron-ssr1:before {
    content: "\e910"
}

.metron-sstap:before {
    content: "\e911"
}

.metron-ssr:before {
    content: "\e912"
}

.metron-uucloud:before {
    content: "\e913"
}

.metron-finder:before {
    content: "\eabf"
}